.cta {
  color: Aquamarine;
  font-size: 16px;
}
a: {
  text-decoration: underline;
}
h1 {
  font-size: 50px
  display: block;
  font-weight: bold;
}
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}
.excursion {
  background: url("../videos/excursion (1).mp4");
}
